// Imports
// --------------------------------------------------------------------

@import "normalize"
@import "compass/css3"
@import "susyone"
@import "http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic"


// Fonts
// --------------------------------------------------------------------

$fontFamilySans:  Helvetica, sans-serif
$fontFamilySerif: "Gentium Basic", serif
$fontFamilyMono:  "Ubuntu Mono", monospace


// Colors
// --------------------------------------------------------------------

$brand: darken(turquoise, 10)
$text:  #444
$grey1: #ede5d8


// SUSY layout configuration
// --------------------------------------------------------------------
$mobile-columns:  4
$tablet-columns:  7
$desktop-columns: 12

$mobile-size:  480px
$tablet-size:  768px
$desktop-size: 1140px

// $media-layout: <min-width> <layout> <max-width> <ie-fallback>
$mobile:  $mobile-columns ($tablet-size - 1)
$tablet:  $tablet-size $tablet-columns ($desktop-size - 1)
$desktop: $desktop-size $desktop-columns

$column-width: 50px
$gutter-width: 50px
$grid-padding: 20px

$container-style: magic
$container-width: 1140px

+border-box-sizing


// Mixins
// --------------------------------------------------------------------

// SUSY grid
@mixin susy-grid
  +at-breakpoint($mobile)
    +susy-grid-background()

  +at-breakpoint($tablet)
    +susy-grid-background()

  +at-breakpoint($desktop)
    +susy-grid-background()

// Text selection
$prefixes: ("-webkit-","-moz-", "-o-", "")
@mixin selection($color, $background)
  @each $prefix in $prefixes
    ::#{$prefix}selection
      color: $color
      background: $background
